$color-green = #116E39
$color-light-green = #209D79
$color-blue = #1E528B
$color-light-gray = #ededed
$color-gray = #49595e
$color-dark-gray = #403635

$theme = {
  primary: $color-green,
  secondary: $color-light-green,
  accent: $color-blue,
  'terra-gray': {
    base: $color-gray,
    lighten1: $color-light-gray,
    darken1: $color-dark-gray
  },
  common: $color-gray
}

